.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    min-height: 10vh;
    margin-bottom: 2px;
    padding: 1px;
    border: 3px solid black;
    position: sticky;
    top: 0px;
}

.nav-bar h1{
    font-size: 40px;
    margin: 0;
    margin-left: 4%;
}